@model IEnumerable<PizzaCore.Data.Entities.Product>
@section Styles{ <link rel="stylesheet" href="~/css/home.css" /> }

@{ ViewData["Title"] = "Home Page"; }


<div class="text-center">
  <h1 class="display-4 text-secondary">Welcome</h1>
  <p>Welcome to PizzaCore!</p>


  <p>Featured Items</p>
  <div id="featuredItemsCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      @foreach (var product in Model.Select((value, i) => new { i, value }))
      {
<li data-target="#featuredItemsCarousel" data-slide-to="@(product.i)" class="@(product.value == Model.First() ? "active" : "")"></li>      }
    </ol>
    <div class="carousel-inner">
      @foreach (var product in Model)
      {
<div class="carousel-item @(product == Model.First() ? "active" : "")">
  <img src="~/images/products/@(product.ImageId).jpg" alt="@product.Name">
  <div class="carousel-caption">
    <h3>@product.Name</h3>
    <p>@product.Description</p>
  </div>
</div>      }
    </div>
    <a class="carousel-control-prev" href="#featuredItemsCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#featuredItemsCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>
