@{
    const int DECIMAL_NUM = 2;
}

  <div id="order-container">

    @if (ViewBag.cart != null && ViewBag.cart.Count >= 1) {
      @foreach (var item in ViewBag.cart) {

      <div class="order-item">

        <section class="order-item-image">
          <img  src="~/images/products/@(item.ProductSize.Product.ImageId).jpg"/>
        </section>


        <section class="order-item-info">
          <div>
            <span>@item.ProductSize.Size</span>
            <label>@item.ProductSize.Product.Name</label>
          </div>
          
          <p>@(item.ProductSize.Product.Description)</p>
          
          <button>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="8" y1="12" x2="16" y2="12"></line></svg>
            <span>Remove</span>
          </button>
          
          
        </section>

        <section class="order-item-quantity">
          <label>Quantity</label>
          <div>
            <button><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="8" y1="12" x2="16" y2="12"></line></svg></button>
            <strong>@(item.Quantity)</strong>
            <button><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg></button>
          </div>
        </section>
        @{double roundedPrice = Math.Round(item.ProductSize.Price * item.Quantity, DECIMAL_NUM);}
        <section class="order-item-subtotal">
          <label>Item Total</label>
          <strong>@(roundedPrice.ToString("C2"))</strong>
        </section>
      </div>
      }
    }
    else
    {
      <div id="empty-cart-div">
        <img src="~/images/logo.png"/>
      </div>
    }

  </div>
