@model IEnumerable<PizzaCore.Models.OrderModel>

@{
  ViewData["Title"] = "All Orders";
}

<h1>Orders To Deliver</h1>

<table class="table">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Order
      </th>
      <th>
        Payment
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Phone)
      </th>
      <th>
        Address
      </th>
      <th>
        Total Price
      </th>
      <th>
        Status
      </th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>
          @(item.FirstName + " " + item.LastName)
        </td>
        <td>
          @foreach(var product in item.Items) {
            <span>@(product.Quantity + " X " + product.Name)</span><br />
          }
        </td>
        <td>
          @if (item.isPaid) {
            <span style="color:var(--bs-green)">Paid Online</span>
          }
          else {
            <span style="color:var(--bs-red)">Not Paid</span>
          }
        </td>
        <td>
          @(item.Phone == null ? "" : item.Phone)
        </td>
        <td>
          @(item.Address + ", " + item.City + ", " + item.PostalCode)
        </td>
        <td>
          @(Math.Round(item.SubTotal + item.ShippingCost + item.Taxes, OrderModel.DECIMAL_NUM))
        </td>
        <td>
          @(item.Status)
        </td>
        
      </tr>
    }
  </tbody>
</table>

